<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#982121"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="Daftar Restoran untuk Developer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" crossorigin="anonymous" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" rel="stylesheet">
    <title>CODE RESTO</title>
</head>
<body>
<a href="#firstItem" class="skip-link">Menuju list menu makanan</a>

  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Code Resto</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/tarunawahyudi" target="_blank" rel="noreferrer">About Us</a></li>
        <li><a href="#/daftar-restoran">Restoran</a></li>
        <li><a href="#/restoran-favorit">Favorit</a></li>
      </ul>
    </nav>
  </header>

  <div class="jumbotron">
    <h1>Tempat makan untuk para Developer</h1>
      <p>Code Resto jadi solusi bagi anda yang lapar saat sedang coding sehari suntuk. Selain terdapat rasa yang lezat, anda juga dapat ide cemerlang disini. Tunggu apa lagi? Buruan klik link dibawah ini!</p>
      <a href="https://github.com/tarunawahyudi" target="_blank" rel="noreferrer" id="pesan">Pesan</a>
  </div>

  <main id="mainContent"></main>
  <footer>
    <p>Copyright © 2021 - <a href="https://github.com/tarunawahyudi/code-resto/" target="_blank" rel="noreferrer">Code Resto</a></p>
  </footer>
</body>
</html>
