/* CODE RESTO color palette */

:root {
    --primary: #982121;
    --secondary: #ff611d;
    --thrid: #e32929;
    --light: #e9a300;
    --dark: #813531;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Skip to content */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--secondary);
    color: white;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
 }

 .skip-link:focus {
    top: 0;
 }

/* Component Styling */

card-list {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
}

footer-bar {
    display: block;
    background-color: var(--primary);
    padding: 0.5em;
    color: #fff;
    text-align: center;
}

footer-bar a {
    color: inherit;
    text-decoration: none;
}

.heading-list {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.heading-list h1 {
    margin: 0;
}

.sub-heading {
    color: var(--light);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.card-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.card-item-content {
    padding: 16px;
}

.card-item-thumbnail {
    width: 100%;
}

.card-item-city, .card-item-rating {
    line-height: 0.5;
}

.card-item-title {
    font-weight: 500;
    font-size: 25px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.card-item-title:hover {
    opacity: 0.5;
}

.card-item-title a {
    text-decoration: none;
    color: inherit;
}

.card-item-description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}

/* Reponsive style */

@media screen and (max-width: 924px) {
    card-list {
        grid-template-columns: 1fr;
    }

    .card-item-title a {
        font-size: 40px;
    }
} 